<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../favicon.png" type="image/png">
    <title>Team Builder</title>
    <link rel="stylesheet" href="intro.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    
</head>

<body>
    <div class="logo">
        <div class="logo-text">  
            <p>  <br> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;Team Builder </p>
        </div>
      </div>
   <h1 class="main">Features of Teambuilder</h1>

   <div class="introduction">
    
    <p >Teambuilder is a platform to bring your ideas together and work as a team to participate and ease the communication during an Hackathon</p>
    <span>Quick Links</span>
    <p id="links">
    <a href="#1">Login/sign Up</a> &nbsp;  &nbsp; <a href="#2">Propose an Idea</a>&nbsp;  &nbsp;<a href="#3">View Teams</a> &nbsp;  &nbsp; <a href="#4">View an Idea</a>&nbsp;  &nbsp;<a href="#5">Add Request To An Idea</a> &nbsp;  &nbsp; <a href="#6">Add request to join the team</a>&nbsp;  &nbsp;<a href="#7">Use Chat Feature</a>&nbsp;  &nbsp;<a href="#8">Change Profile Picture</a> &nbsp;<a href="#video">Tutorial Video</a>
    </p>
  <div class="login" id="topics"><a name="1"></a>
    <h3 id="headings">Login/Sign Up</h3>
    <p id="content">sign Up : Enter your credentials as mentioned
        Login: Enter your Registered Details</p>

   
  </div>


  <div class="proposeanidea" id="topics"><a name="2"></a>
    <h3 id="headings">Propose An Idea/View An Idea</h3>
    <div class="login_img">
    <p id="content">Ideas are the first step towards execution of your problems.TeamBuilder provides to propose your own idea or work upon an idea already proposed by other people</p>
      </div>
  </div>
 


  <div class="Addreq" id="topics"><a name="3"></a>
    <h3 id="headings">Add Request To An Idea</h3>
  
      <p id="content">Saw an Idea and felt it needed some changes or need to enhance the existing idea? No Worries , Teambuilder also provides this feature to let your inner curiosity sparks.</p>

    
  </div>

  <div class="Teams" id="topics"><a name="4"></a>
    <h3 id="headings">View Teams</h3>
   <p id="content">Teambuilder allows you to view and join already existing Teams! You can interact and suggest ideas for the team members and ideas too</p>
  </div>
  
  <div class="JoinTeam" id="topics"><a name="5"></a>
    <h3 id="headings">Add Request To Join The Team</h3>
    <p id="content">Join teams and interact with members to enhance your skills</p>
  </div>

  



  <div class="Chat" id="topics"><a name="6"></a>
    <h3 id="headings">Use Chat Feature</h3>
    <p id="content">Teambuilder also provides an interact way to Chat with fellow members!!</p>
  </div>

  <div class="ProfilePic" id="topics"><a name="7"></a>
   
    <h3 id="headings">Change Profile Picture</h3>
  
    <p id="content"> You can also customize your profile picture to look more awesome!!</p>
  </div>

   



 
<div class="video" id="video"><a name="video">
  <div><h1>Not Sure How it Works? Check Out the following videos </h1>
    <iframe id="vid1" width="567" height="300" src="https://www.youtube.com/embed/P5p4GlPjTIY" title="Team Builder demo video 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<iframe id="vid1" width="567" height="300" src="https://www.youtube.com/embed/5Mea74U2VG0" title="Team Builder Demo video 2" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
  </div>
</a>  
  </div>

 




  
























</body>

</html>