@import "compass/css3";
 * {
	 box-sizing: border-box;
}
 html {
	 font-family: 'Lato', sans-serif;
}
 .section-form {
	 width: 37em;
	 margin: 3em auto;
	 background-color: #000000;
	 color: #ffffff;
	 padding: 2.5em;
	 border-radius: 25px;
}
 .section-form h1 {
	 text-align: center;
	 font-size: 1.6em;
	 margin-bottom: 0.6em;
}
 .section-form h2 {
	 text-align: center;
	 font-size: 1.2307692308em;
}
 input[type=text] {
	 height: 45px;
}
 input[type=text], textarea {
	 width: 100%;
	 margin-bottom: 1em;
	 font-size: 0.9em;
     font-family: 'Lato', sans-serif;
	 color: #cfcece;
	 font-weight: 300;
	 padding: 0.5em 1em;
	 border: none;
	 color: #555;
	 font-weight: 300;
	 border-radius: 10px;
	 outline: none;
}
 input[type=text]:focus, textarea:focus {
	outline: 4px solid #5468ff
}
button {
	 cursor: pointer;
	 margin: 0;
	 padding: 0.5em 2em;
	 background: #636363;
	 border: none;
	 color: #fff;
	 font-size: 1em;
	 font-weight: 400;
}
 

.button-img{
	width: 50px;
	height: 40px;
	background-color: green;
	/* background-image: url("./views/Team-Builder-ChatUI/assets/attach.svg");
	 */background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
  }

  #back {
    height: 40px;
    width: 200px;
    background-color: rgb(74, 44, 113);
    border-radius: 15px;
    margin-left: 80%;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    position: absolute;
    box-shadow: 10px 10px 10px black;
}

#idea-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.form-header {
	margin-top: 2.5em;
	width: 37em;
	padding: 10px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 25px;
	text-align: center;
}

.idea-form-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

#logo-input {
	background-color: rgb(74, 44, 113);
	color: #fff;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
}

.idea-submit-btn {
	align-items: center;
	background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
	border: 0;
	border-radius: 6px;
	box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
	color: #fff;
	cursor: pointer;
	height: 48px;
	justify-content: center;
	transition: box-shadow .15s,transform .15s;
	font-size: 18px;
}
  
.idea-submit-btn:focus {
	box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}
  
.idea-submit-btn:hover {
	box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
	transform: translateY(-2px);
}
  
.idea-submit-btn:active {
	box-shadow: #3c4fe0 0 3px 7px inset;
	transform: translateY(2px);
}