<html>
<head>
    <link rel="stylesheet" href="./idea-info.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <button id="back" onclick="history.back()">Dashboard</button>
        <p id="idea_name">
        </p>
        <br><br>
        <div class="back" style="overflow-x: auto;">
            <div class="leader">
                <p class="head"> Idea Author : </p>
                <p id="leader"></p>
            </div>
            <div class="description">
                <p class="head"> Description : </p>
                <p id="description"></p>
            </div>
            </br>
        </div><br/><br/><br/>
        <div ><button style="margin: 0 auto; margin-left: 48%;"  id="join" >Join</button></div>
        <script>
            var myidea = '<%= idea %>';
        </script>
    </body>
    <script type="module" src="/views/Team-Builder-Dashboard/idea-info-page/idea-info.js"></script>
</html>